.activity-title {
  color: #000;
  margin-bottom: 0.4rem;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 500;
}
.see-all {
  text-transform: capitalize;
  color: #0dba9c;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.activity-card {
  padding: 10px;
  border: 1.6px solid #f5f1ec;
  border-radius: 15px;
}
.activity-icon {
  margin-bottom: 1rem;
}
.activity-icon img {
  width: 40px;
}
.activity-name,
.activity-amount {
  margin-bottom: 0.5rem;
  font-size: 0.93rem;
  font-weight: 500;
  text-transform: capitalize;
}
.activity-amount {
  margin-bottom: 0;
}
.activity-subtitle {
  font-size: 0.8rem;
  font-weight: 400;
  text-transform: capitalize;
  color: #787878;
}
.activity-log,
.activity-date {
  margin-bottom: 0.4rem;
  text-transform: capitalize;
  font-size: 0.8rem;
  font-weight: 400;
}
@media (min-width: 375px) {
  .activity-card {
    display: flex;
    align-items: center;
  }
  .activity-icon {
    margin-right: 15px;
    align-self: flex-end;
  }
  .activity-icon img {
    width: 60px;
  }
  .activity-content {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .activity-date {
    text-align: end;
  }
}
