<div class="row row-divder mt-5">
  <!-- QUICK LINKS -->
  <div class="col-12 col-md-6 mb-5 col-xxl-4 shadow-sm">
    <div class="quick-links h-100">
      <p class="title">quick links</p>
      <p class="subtitle">Carry out your financial transactions with ease</p>
      <div class="multiple-pay d-sm-flex justify-content-between">
        <div class="content d-flex">
          <div class="hand-icon">
            <img src="assets/icons/hand.png" alt="" />
          </div>
          <div class="ps-2">
            <p class="multiplepay-title">multiple pay</p>
            <p class="multiplepay-subtitle">
              Send payment to many people at a go.!
            </p>
            <button
              class="primary-btn"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              type="button"
            >
              send money
            </button>
          </div>
        </div>
        <div class="multiplepay-image d-none d-sm-block">
          <img src="assets/images/multiplepay.png" alt="" />
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="quick-link-card">
            <span class="_icon">
              <img src="assets/icons/hand.png" alt="" />
            </span>
            <p class="card-title">airtime bank</p>
            <p class="card-subtitle">
              Save airtime for rainy days & for future.
            </p>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="quick-link-card">
            <span class="_icon">
              <img src="assets/icons/hand.png" alt="" />
            </span>
            <p class="card-title">multiple recharge</p>
            <p class="card-subtitle">
              Send airtime or data to millions at a go.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mt-4 mb-3">
          <div class="d-flex justify-content-between align-items-center">
            <p class="group-title">Group payment</p>
            <p class="view-group">view all groups</p>
          </div>
        </div>
        <div class="col-6 col-sm-3">
          <div class="group-payment-img text-center mb-3">
            <img src="assets/images/banker-staff.png" alt="" />
          </div>
        </div>
        <div class="col-6 col-sm-3">
          <div class="group-payment-img text-center mb-3">
            <img src="assets/images/home-staff.png" alt="" />
          </div>
        </div>
        <div class="col-6 col-sm-3">
          <div class="group-payment-img text-center mb-3">
            <img src="assets/images/site-staff.png" alt="" />
          </div>
        </div>
        <div class="col-6 col-sm-3">
          <div class="group-payment-img text-center mb-3">
            <div class="add-payment">
              <img src="assets/images/plus.png" alt="" />
            </div>
            <p class="add-payment-text">create new group</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- OVERVIEW COMPONENT -->
  <div class="col-12 col-md-6 mb-5 col-xxl-4 shadow-sm">
    <app-recent-activities></app-recent-activities>
  </div>
  <!--CHART COMPONENT -->
  <div class="col-12 col-xxl-4 shadow-sm mb-5">
    <div class="chart h-100">
      <app-overview-map></app-overview-map>
    </div>
  </div>
  <!-- SEND MONEY MODAL -->
  <div class="col-12">
    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
              #close
            ></button>
          </div>
          <div class="modal-body">
            <!-- MODAL BODY -->
            <div class="row mb-4">
              <div class="col-12 col-md-7">
                <h3 class="form-title">Send Money</h3>
                <p class="form-subtitle">
                  Your loved ones can receive their funds without leaving the
                  house.
                </p>
              </div>
              <div class="col-md-5 d-none d-md-block text-center">
                <img src="assets/images/send-money.png" alt="" />
              </div>
            </div>

            <form [formGroup]="amountForm">
              <div class="amount-form">
                <label for="amount">Amount</label>
                <div class="input-group input-group-lg">
                  <span class="input-group-text">N</span>
                  <input
                    type="number"
                    class="form-control"
                    formControlName="amount"
                    id="amount"
                  />
                </div>
                <div
                  *ngIf="amount?.invalid && (amount?.dirty || amount?.touched)"
                  class="text-danger"
                >
                  <small *ngIf="amount?.['errors']?.['required']">
                    Amount is required
                  </small>
                  <small *ngIf="amount?.['errors']?.['min']"
                    >Min of N100
                  </small>
                </div>
              </div>
              <div class="d-grid gap-2 mt-5 mb-3">
                <button
                  (click)="onFormSubmit()"
                  class="btn btn-primary modal-btn"
                  [disabled]="amountForm.invalid || loading"
                  type="button"
                >
                  <span
                    *ngIf="loading"
                    class="spinner-border spinner-border-sm mr-1"
                  ></span>
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- RESUSEABLE MODAL -->

  <button
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal2"
    hidden
    #open
  >
    Launch demo modal
  </button>
  <div class="col-12">
    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal2"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
              (click)="resetModal()"
            ></button>
          </div>
          <div class="modal-body">
            <!-- MODAL BODY -->
            <div class="row mb-4">
              <div class="col-12 text-center">
                <div
                  class="transaction-icon"
                  [ngClass]="{ 'invalid-transaction': failed }"
                >
                  <img src="assets/images/check.png" *ngIf="!failed" alt="" />
                  <img src="assets/images/close.png" alt="" *ngIf="failed" />
                </div>
              </div>
              <div class="col-12 text-center">
                <p class="transaction-message">
                  {{ failed ? "Transaction Failed!" : message }}
                </p>
              </div>

              <div class="d-grid gap-2 mt-5 mb-3">
                <button
                  (click)="resetModal()"
                  class="btn btn-primary modal-btn"
                  type="button"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                  #close
                >
                  Done
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
