<div class="row row-divder mt-5">
  <div class="col-12 col-md-6 mb-5 col-xxl-4 shadow-sm">
    <div class="quick-links h-100">
      <p class="title">quick links</p>
      <p class="subtitle">Carry out your financial transactions with ease</p>
      <div class="multiple-pay d-sm-flex justify-content-between">
        <div class="content d-flex">
          <div class="hand-icon">
            <img src="assets/icons/hand.png" alt="" />
          </div>
          <div class="ps-2">
            <p class="multiplepay-title">multiple pay</p>
            <p class="multiplepay-subtitle">
              Send payment to many people at a go.!
            </p>
            <button
              class="primary-btn"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              type="button"
            >
              send money
            </button>
          </div>
        </div>
        <div class="multiplepay-image d-none d-sm-block">
          <img src="assets/images/multiplepay.png" alt="" />
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="quick-link-card">
            <span class="_icon">
              <img src="assets/icons/hand.png" alt="" />
            </span>
            <p class="card-title">airtime bank</p>
            <p class="card-subtitle">
              Save airtime for rainy days & for future.
            </p>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="quick-link-card">
            <span class="_icon">
              <img src="assets/icons/hand.png" alt="" />
            </span>
            <p class="card-title">multiple recharge</p>
            <p class="card-subtitle">
              Send airtime or data to millions at a go.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mt-4 mb-3">
          <div class="d-flex justify-content-between align-items-center">
            <p class="group-title">Group payment</p>
            <p class="view-group">view all groups</p>
          </div>
        </div>
        <div class="col-6 col-sm-3">
          <div class="group-payment-img text-center mb-3">
            <img src="assets/images/banker-staff.png" alt="" />
          </div>
        </div>
        <div class="col-6 col-sm-3">
          <div class="group-payment-img text-center mb-3">
            <img src="assets/images/home-staff.png" alt="" />
          </div>
        </div>
        <div class="col-6 col-sm-3">
          <div class="group-payment-img text-center mb-3">
            <img src="assets/images/site-staff.png" alt="" />
          </div>
        </div>
        <div class="col-6 col-sm-3">
          <div class="group-payment-img text-center mb-3">
            <div class="add-payment">
              <img src="assets/images/plus.png" alt="" />
            </div>
            <p class="add-payment-text">create new group</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- OVERVIEW COMPONENT -->
  <div class="col-12 col-md-6 mb-5 col-xxl-4 shadow-sm">
    <div class="recent-activies">
      <div class="d-flex justify-content-between align-items-center">
        <p class="activity-title">Overview payment</p>
        <p class="see-all">see all</p>
      </div>
      <div class="row">
        <div class="overview-container">
          <div class="col-12 mt-3 col-sm-6 col-md-12">
            <div class="activity-card">
              <div class="activity-icon">
                <img src="assets/images/message.png" alt="" />
              </div>
              <div class="activity-content">
                <div class="activity-box-1">
                  <p class="activity-name">salary payment</p>
                  <p class="activity-log">12 of 12 people sent</p>
                </div>
                <div class="activity-box-2">
                  <p class="activity-amount">N200,000</p>
                  <p class="activity-subtitle">total payment</p>
                  <p class="activity-date">today</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mt-3 col-sm-6 col-md-12">
            <div class="activity-card">
              <div class="activity-icon">
                <img src="assets/images/message.png" alt="" />
              </div>
              <div class="activity-content">
                <div class="activity-box-1">
                  <p class="activity-name">salary payment</p>
                  <p class="activity-log">12 of 12 people sent</p>
                </div>
                <div class="activity-box-2">
                  <p class="activity-amount">N200,000</p>
                  <p class="activity-subtitle">total payment</p>
                  <p class="activity-date">today</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mt-3 col-sm-6 col-md-12">
            <div class="activity-card">
              <div class="activity-icon">
                <img src="assets/images/message.png" alt="" />
              </div>
              <div class="activity-content">
                <div class="activity-box-1">
                  <p class="activity-name">salary payment</p>
                  <p class="activity-log">12 of 12 people sent</p>
                </div>
                <div class="activity-box-2">
                  <p class="activity-amount">N200,000</p>
                  <p class="activity-subtitle">total payment</p>
                  <p class="activity-date">today</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mt-3 col-sm-6 col-md-12">
            <div class="activity-card">
              <div class="activity-icon">
                <img src="assets/images/message.png" alt="" />
              </div>
              <div class="activity-content">
                <div class="activity-box-1">
                  <p class="activity-name">salary payment</p>
                  <p class="activity-log">12 of 12 people sent</p>
                </div>
                <div class="activity-box-2">
                  <p class="activity-amount">N200,000</p>
                  <p class="activity-subtitle">total payment</p>
                  <p class="activity-date">today</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mt-3 col-sm-6 col-md-12">
            <div class="activity-card">
              <div class="activity-icon">
                <img src="assets/images/message.png" alt="" />
              </div>
              <div class="activity-content">
                <div class="activity-box-1">
                  <p class="activity-name">salary payment</p>
                  <p class="activity-log">12 of 12 people sent</p>
                </div>
                <div class="activity-box-2">
                  <p class="activity-amount">N200,000</p>
                  <p class="activity-subtitle">total payment</p>
                  <p class="activity-date">today</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--CHART COMPONENT -->
  <div class="col-12 col-xxl-4 shadow-sm mb-5">
    <div class="chart h-100">
      <highcharts-chart
        [Highcharts]="highcharts"
        [options]="chartOptions"
        [style]="{ width: '100%', display: 'block', height: '80%' }"
      >
      </highcharts-chart>
    </div>
  </div>

  <div class="col-12">
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      Launch demo modal
    </button>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">...</div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              #close
            >
              Close
            </button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
