.quick-links {
  .title,
  .multiplepay-title,
  .card-title,
  .group-title {
    color: #000;
    margin-bottom: 0.4rem;
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 500;
  }
  .subtitle {
    color: #787878;
    font-size: 0.8rem;
  }
  .multiple-pay {
    background: #f5f1ec;
    padding: 10px;
    border-radius: 15px;
    .multiplepay-image {
      display: none;
    }
    .hand-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #0d4138;
      padding: 20px 8px;
      border-radius: 8px;
    }

    .multiplepay-title {
      font-size: 1rem;
    }
    .multiplepay-subtitle {
      font-size: 0.8rem;
      margin-bottom: 0.5rem;
    }
    .primary-btn {
      border: 0;
      padding: 5px 10px;
      background: #0d4138;
      border-radius: 5px;
      color: #fff;
      font-size: 0.9rem;
      text-transform: capitalize;
    }
  }
  .quick-link-card {
    padding: 15px 10px;
    border-radius: 15px;
    border: 2px solid #dba976;
    margin-top: 2rem;
    ._icon {
      display: inline-block;
      margin: 1rem 0;
    }
    .card-title {
      font-size: 0.9rem;
    }
    .card-subtitle {
      font-size: 0.8rem;
      margin-bottom: 0.5rem;
    }
  }
  .group-title {
    font-size: 1rem;
  }
  .view-group {
    text-transform: capitalize;
    color: #0dba9c;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }
  .add-payment {
    border: 1.6px solid #0dba9c;
    padding: 0.7rem;
    display: inline-block;
    border-radius: 50%;
  }
  .add-payment-text {
    margin: 0;
    font-size: 0.8rem;
    text-transform: capitalize;
    color: #0dba9c;
    font-weight: 500;
  }
}
@media (min-width: 425px) {
  .multiplepay-subtitle {
    width: 80%;
  }
}
.overview-container {
  height: 520px;
  overflow-y: scroll;
}

.modal-btn {
  background: #7d5c44;
  padding: 0.8rem;
  color: #fff;
  box-shadow: none;
  text-transform: capitalize;
  border: 0;
  outline: none;
}
.modal-btn:focus {
  border: 0;
  outline: 0 !important;
  box-shadow: none !important;
}
.form-subtitle {
  font-size: 0.8rem;
  color: #888888;
}
.amount-form label {
  color: #888888;
  margin-bottom: 1rem;
}
.transaction-icon {
  display: inline-grid;
  width: 100px;
  place-items: center;
  height: 100px;
  background: #7d5c44;
  border-radius: 50%;
  margin-bottom: 2rem;
  img {
    width: 40px;
  }
}

.transaction-message {
  font-size: 1rem;
}
.invalid-transaction {
  background: #e2574c;
}
@media (min-width: 576px) {
  .transaction-message {
    font-size: 1.3rem;
    font-weight: 600;
  }
}
@media (min-width: 1400px) {
  .row-divder {
    border-top: 1.7px solid #dbd0c2;
    padding-top: 2rem;
  }
}
