/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
.modal-header {
  border-bottom: 0 !important;
  .btn-close {
    background-color: #f3f3f3 !important;
    border-radius: 50% !important;
    padding: 0.9rem !important;
    margin-top: -2rem !important;
    color: #8d8d8d !important;
    box-shadow: none !important;
  }
}
.form-control,
.input-group-text {
  background: #eeee !important;
  box-shadow: none !important;
  border: none !important;
  color: #8d8d8d;
}
.modal-footer {
  border-top: 0 !important;
}
.modal-content {
  background-color: #f5f1ec !important;
  border-radius: 15px !important;
  padding: 2.5rem 1rem !important;
}
